        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
            background: white;
            margin: 0;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        .header-title {
            text-align: center;
            margin: 20px;
        }
        
        .image-setting {
            width: 100%;
        }
        
        .user-info {
            display: flex;
            align-items: center;
        }
        
        .icon-setting {
            margin: 5px;
        }
        
        .user-info-certification {
            margin-left: 5px;
        }
        
        .user-info-avatar {
            margin-right: 5px;
        }
        
        .stat-image {
            display: flex;
            justify-content: space-between;
        }
        
        .text-image {
            margin-left: 5px;
            margin-right: 5px;
        }
        
        .date-image {
            color: #C5C5C5;
        }
        
        .input-setting {
            display: flex;
            border-top: 1px solid #D1D1D1;
            border-bottom: 1px solid #D1D1D1;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0 15px;
        }
        
        .border-footer {
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid #D1D1D1;
        }
        
        .nav-footer {
            position: relative;
            display: flex;
            justify-content: space-around;
            margin: 30px;
        }
        
        .nav-link-setting {
            padding: 0 15px;
        }
        
        .notification-sign {
            position: relative;
            padding: 0 15px;
        }
        
        .zoom {
            transition-duration: 0.5s;
        }
        
        .zoom:hover {
            transform: scale(1.5);
        }
        
        .notification-sign::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: red;
            right: 5px;
            top: -10px;
            animation: red-ball;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        @keyframes red-ball {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
        
        @media (min-width: 1000px) {
            body {
                background-color: white;
            }
            .home-container {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin: 15px;
            }
            .picture-container {
                display: flex;
            }
            .user-info {
                background-color: #F0F0F0;
                padding: 5px;
            }
            .input-comments {
                display: flex;
                flex-direction: column;
            }
            .input-setting {
                order: 3;
            }
            .picture-comments {
                width: 272px;
            }
        }